<form action="#" method= 'post' name="form_new_car">
        <label for = "make"> Car Make: </label>
        <input type = "text" name="make" placeholder="Aston Martin">
        <label for = "model"> Car Model: </label>
        <input type = "text" name="model" placeholder="DB11">
        <label for = "year"> Year: </label>
        <input type = "number" name="year" min="1980" max="2022" placeholder="2018">
        <label for = "engine"> Engine: </label>
        <input type = "text" name="engine" placeholder="4.0 L V8">
        <label for = "horsepower"> Horsepower: </label>
        <input type = "text" name="horsepower" placeholder="503 to 600hp">
        <label for = "msrp"> MSRP (USD, $): </label>
        <input type = "number" name="msrp" placeholder="198,995">
    
        <input type="submit" value="Submit to Inventory">
    
        
    </form>